---
cssclasses: ltr
draft: false
layout: mynote
templateClass: tmpl-post
permalink: /notes/{{ page.fileSlug }}/
type: Document
---

{{ content | safe }}


 <nav class="post__pagination">
      {%- set nextPost = collections.notes | getNextCollectionItem(page) %}
      {%- if nextPost %}

        <a href="{{ nextPost.url | url }}">
          <span>←</span>
          <span>{{ nextPost.data.title }}</span>
        </a>

      {% endif %}

      {%- set previousPost = collections.notes | getPreviousCollectionItem(page) %}
      {%- if previousPost %}

        <a href="{{ previousPost.url | url }}">
          <span>{{ previousPost.data.title }}</span>
          <span>→</span>
        </a>

      {% endif %}
    </nav>
	

