---
layout: layouts/home.njk
header: Home Page
eleventyNavigation:
  key: Home
  order: 1
---
{% set maxPosts = collections.posts.length | min(3) %}
<h1>Latest {% if maxPosts == 1 %}Post{% else %}{{ maxPosts }} Posts{% endif %}</h1>

{% set postslist = collections.posts | head(-3) %}
{% set postslistCounter = collections.posts | length %}
{% include "postslist.njk" %}


<div dir="rtl">
{% set maxPosts = collections.dafyomi.length | min(3) %}
<h3> {% if maxPosts == 1 %}הדף האחרון{% else %}{{ maxPosts }} הדפים האחרונים{% endif %}</h3>

{% set postslist = collections.dafyomi | head(-3) %}
{% set postslistCounter = collections.dafyomi | length %}
{% include "postslist.njk" %}
</div>
<p>More posts can be found in <a href="{{ '/posts/' | url }}">the archive</a>.</p>
