---
cssclasses: rtl
draft: false
permalink: /notes/{{ page.fileSlug }}/ 
layout: notes
---


<h1>All Notes</h1>

<div class="tags">
  {% include "componnents/tagslist.njk" %}
</div>
<article>
   {{ content | safe }}
</article>

{% include "componnents/backlinks.njk" %}

